:root {

    --color-base-10: hsla(209,50%,12%,1);
    --color-base-20: hsla(209,30%,19%,1);
    --color-base-30: hsla(210,15%,29%,1);
    --color-base-45: hsla(209,10%,45%,1);
    --color-base-55: hsla(209,10%,55%,1);
    --color-base-70: hsla(210,10%,69%,1);
    --color-base-90: hsla(204,10%,90%,1);
    --color-base-95: hsla(220,10%,95%,1);


    /* Dark mode ---------- */
    --dm-base-strong: var(--color-base-95);
    --dm-base-regular: var(--color-base-70);
    --dm-base-light: var(--color-base-45);
    --dm-base-lighter: var(--color-base-30);
    --dm-base-pale: var(--color-base-20);
    --dm-base-min: var(--color-base-10);


/* Light mode ---------- */
    --lm-base-strong: var(--color-base-10);
    --lm-base-regular: var(--color-base-30);
    --lm-base-light: var(--color-base-55);
    --lm-base-lighter: var(--color-base-70);
    --lm-base-pale: var(--color-base-90);
    --lm-base-min: var(--color-base-95);


  
}

/* Base Styles -------------------- */

body.light-mode {
    background-color: var(--lm-base-min);
    color: var(--lm-base-strong);
      /* background: black url(../img/texture.png); */
}

body.dark-mode {
    background-color: var(--dm-base-min);
    color: var(--dm-base-strong);
      /* background: black url(../img/texture.png); */
}


a:link {
    color: var(--dm-base-regular);
}

a:visited {
    color: var(--dm-base-regular);
}

a:hover {
    color: var(--dm-base-strong);
}

a:active {
    color: var(--dm-base-strong);
}

.button-primary {
    cursor: pointer;
    background-color: var(--dm-base-regular);
    color: var(--dm-base-min);
  }
.button-primary:hover {
    background-color: var(--dm-base-strong);
    color: var(--dm-base-min);
  }

  .button-primary:active {
    background-color: var(--dm-base-regular);
  }

.input {
    background-color: var(--dm-base-pale);
    border: 1px solid var(--dm-base-lighter);
    color: var(--dm-base-strong);
}

/* Main Styles ----------------- */

.logo {
    stroke: var(--lm-base-strong);
    fill: none;
}

.dark-mode
.logo {
    stroke: var(--dm-base-strong);
}

/* Element Styles ----------------- */

.featured-project-wrapper:hover .featured-project-images-group {
    border: 2px solid var(--dm-base-strong);
    margin-top: -2px;
}

.switch-button { /* La bolita en lm ------- */
    appearance: none;
    /* background-color: var(--lm-base-lighter); */
    /* background-color: var(--lm-base-min); */
    background-color: transparent;
    border: 2px solid var(--lm-base-strong);
    /* border: 0; */
    height: 24px;
    width: 40px;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
}
  
.switch-button:after {
    content: '';
    /* background-color: var(--lm-base-min); */
    border: 2px solid var(--lm-base-strong);
    height: 16px;
    width: 16px;
    display: block;
    border-radius: 10px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: .3s;
}
  
.dark-mode 
.switch-button:after { /* La bolita en dm ------- */
    transform: translateX(16px);
    /* background-color: var(--dm-base-min); */
    border: 2px solid var(--dm-base-strong);
}
  
.dark-mode 
.switch-button {
    /* background-color: var(--dm-base-min); */
    /* background-color: var(--dm-base-min); */
    border: 2px solid var(--dm-base-strong);
}


