:root {
/* FOUNDATIONS  -------------------- */

/* Spacing  -------------------- */
  --space-xs: .5rem;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --space-l: 2.5rem;
  --space-xl: 3.5rem;

/* Type scale  -------------------- */
  --font-size-xxs: .625rem;
  --line-height-xxs: .875rem;

  --font-size-xs: .75rem;
  --line-height-xs: 1rem;

  --font-size-s: .875rem;
  --line-height-s: 1.125rem;

  --font-size-m: 1rem;
  --line-height-m: 1.5rem;

  --font-size-l: 1.25rem;
  --line-height-l: 1.875rem;

  --font-size-xl: 1.625rem;
  --line-height-xl: 2.25rem;

  --font-size-xxl: 2.125rem;
  --line-height-xxl: 2.75rem;

  --font-size-d1: 2.875rem;
  --line-height-d1: 3.5rem;

  --font-size-d2: 4rem;
  --line-height-d2: 4.5rem;
}

/* Base Styles -------------------- */
*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Neue Haas Grotesk TX Pro';
  src: url('../fonts/NHaasGroteskTXPro-55Rg.woff2') format('woff2'),
      url('../fonts/NHaasGroteskTXPro-55Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk TX Pro';
  src: url('../fonts/NHaasGroteskTXPro-65Md.woff2') format('woff2'),
      url('../fonts/NHaasGroteskTXPro-65Md.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* @font-face {
  font-family: 'Neue Haas Grotesk TX Pro';
  src: url('../fonts/NeueHaasGroteskTextBold-3.woff2') format('woff2'),
      url('../fonts/NeueHaasGroteskTextBold-3.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
} */

body {
  margin: 0;
  font-family: 'Neue Haas Grotesk TX Pro', serif;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  letter-spacing: .06rem;
  font-weight: normal;
}

h1 {
  font-family: 'Neue Haas Grotesk TX Pro', serif;
  font-size: var(--font-size-d1);
  line-height: var(--line-height-d1);
  letter-spacing: .125rem;
  font-weight: normal;
}

h2 {
  font-family: 'Neue Haas Grotesk TX Pro', serif;
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  /* letter-spacing: .125rem; */
  font-weight: normal;
}

img {
  max-width: 100%;
  /* max-height: 100%; */
}

/* Pseudo-classes ------------------ */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  /* text-decoration: underline; */
}

a:active {
  text-decoration: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.logo:hover{
  cursor: pointer;
}

/* Main Styles / Components ----------------- */

.link {
  text-decoration: none; 
}

/* .container {
  margin-left: auto;
  margin-right: auto;
} */

.button-primary {
  padding: var(--space-xs) var(--space-s);
  border-radius: 0px;
  border: none;
  min-height: var(--space-l);
  font-size: var(--font-size-m);
}
.button-primary:hover {

}

.input {
  margin-bottom: var(--space-m);
  border-radius: 0px;
  border: none;
  min-height: var(--space-l);
  font-size: var(--font-size-m);
  padding: 0 var(--space-xs) ;
}
.input:focus {
  outline-color: transparent;
  outline-style: none;
}
.input:active {
  outline-color: transparent;
  outline-style: none;
  border: none;
}

.form {
  width: 50%;
  padding: var(--space-l) var(--space-l);
  display: flex;
  flex-direction: column;
}

/* show-me-borders ----------------- */

/* .wrapper {
  border: 1px solid orange;
}
.container {
  border: 1px solid blue;
}
.section {
  border: 1px solid greenyellow;
}
.box {
  border: 1px solid salmon;
} */

/* ----------- Header Styles ------------------------------------------------------ */

.header-wrapper {
  position: sticky;
  top: 0px;
  margin: 0px;
  padding: var(--space-s) var(--space-s);
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-left-section {
}

.header-right-section {
}
.main-menu li {
  display: inline-block;
  padding-left: var(--space-xs);
}

/* ----------- Intro Styles ------------------------------------------------------ */

.intro-wrapper{
  min-height: calc(50vh);
  /* min-height: calc(100vh - 240px); */
  /* padding: var(--space-s) var(--space-s); */
  /* background: black url(../img/saturn.png) no-repeat center;
  background-size: cover; */
}
.intro-container {
  margin-top: var(--space-xl);
}
.intro-section {
  font-size: var(--font-size-m);
  font-weight: normal;
}

/* ----------- Main Section Styles ------------------------------------------------------ */

.main-area-wrapper {
  padding: var(--space-s) var(--space-s);
}
.main-area-container {

}
.projects-section {

}
.projects-section-title {

}






/* ----------- Project cards ------------------------------------------------------ */

.project-card-box {
  /* cursor: pointer; */
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--space-m);
  padding-top: var(--space-xs);
  margin-bottom: var(--space-m);
  border-top: 1px solid var(--dm-base-pale);

}
.project-card-left-section {
  display: flex;
  width: 50%;


}
.project-number {
  color: var(--dm-base-light);
}
.project-number:hover {
  color: var(--dm-base-regular);
}
.project-card-right-section {
  width: 50%;

}


.featured-project-wrapper {
  margin-bottom: var(--space-m);
  margin-bottom: var(--space-xl);
}
.featured-project-images-group {
  border: 2px solid transparent;
  display: block;
}


/* Floated Columns images ------------------ */

.featured-project-image-left {
  float: left;
  height: 350px;
  background: url('../img/featured-project1-left.jpg') no-repeat center;
  background-size: cover;
}

.featured-project-image-right {
  float: right;
  height: 350px;
  background: url('../img/featured-project1-right.jpg') no-repeat center;
  background-size: cover;
}

.featured-project-image-left,
.featured-project-image-right {
  float: none;
  width: 100%;
}

/* Float Clearfix ------------------ */

.featured-project-images-group:after {
  content: "";
  display: table;
  clear: both;
}

.project1-image {
  height: 240px;
  width: 100%;
  background: url('../img/project-1.jpg') no-repeat center;
  background-size: cover;
}

.project2-image {
  height: 240px;
  width: 100%;
  background: url('../img/project-2.jpg') no-repeat center;
  background-size: cover;
}

.project3-image {
  height: 240px;
  width: 100%;
  background: url('../img/project-3.jpg') no-repeat center;
  background-size: cover;
}

.project4-image {
  height: 240px;
  width: 100%;
  background: url('../img/project-4.jpg') no-repeat center;
  background-size: cover;
}



/* ----------- Form Styles ------------------------------------------------------ */

.form-section {
  display: flex;
}



/* ----------- Footer Styles ------------------------------------------------------ */

.footer-wrapper {
  position: sticky;
  bottom: 0px;
  margin: 0px;
  padding: var(--space-s) var(--space-s);
  /* border: 1px solid green; */
}

.footer-container {
  display: flex;
  justify-content: space-between;

}

.footer-left-section {

}

.footer-right-section {

}












/* Media Queries -------------------- */

@media (max-width: 600px) {

  .header-wrapper,
  .intro-wrapper,
  .main-area-wrapper,
  .footer-wrapper {
    padding: var(--space-m) 8%;
    /* padding: var(--space-m) var(--space-m); */
  }

}

@media (min-width: 600px) {

  .header-wrapper,
  .footer-wrapper {
    padding: var(--space-l) var(--space-l);
    /* padding: var(--space-m) var(--space-m); */
  }

  .intro-wrapper,
  .main-area-wrapper {
    padding: var(--space-l) 8%;
    /* padding: var(--space-m) var(--space-m); */
  }

  .featured-project-images-group {
    width: 100%;
    border-top: none;
  }

  .featured-project-image-left,
  .featured-project-image-right {
    float: right;
    width: 50%;
  }

}

@media (min-width: 1024px) {

  .header-wrapper,
  .footer-wrapper {
    padding: var(--space-xl) var(--space-xl);

  }

  .intro-wrapper,
  .main-area-wrapper {
    padding: var(--space-xl) 8%;
    /* padding: var(--space-l) var(--space-l); */
  }

}

@media (min-width: 1400px) {

  .header-wrapper,
  .footer-wrapper {
    padding: var(--space-xl) var(--space-xl);

  }

  .intro-wrapper,
  .main-area-wrapper {
    padding: var(--space-xl) 8%;
    /* padding: var(--space-xl) var(--space-xl); */
    /* width: 1200px;
    margin: 0 auto; */
  }

}


