:root {

/* Spacing  -------------------- */
  --space-xs: .5rem;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --space-l: 2.5rem;
  --space-xl: 3.5rem;

  /* Type scale  -------------------- */
  --font-size-xxs: .625rem;
  --line-height-xxs: .875rem;

  --font-size-xs: .75rem;
  --line-height-xs: 1rem;

  --font-size-s: .875rem;
  --line-height-s: 1.125rem;

  --font-size-m: 1rem;
  --line-height-m: 1.25rem;

  --font-size-l: 1.25rem;
  --line-height-l: 1.5rem;

  --font-size-xl: 1.625rem;
  --line-height-xl: 1.875rem;

  --font-size-xxl: 2.125rem;
  --line-height-xxl: 2.375rem;

  --font-size-d1: 2.875rem;
  --line-height-d1: 3.125rem;
}

/* Base Styles -------------------- */
*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Neue Haas Grotesk TX Pro';
  src: url('../fonts/NHaasGroteskTXPro-55Rg.woff2') format('woff2'),
      url('../fonts/NHaasGroteskTXPro-55Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk TX Pro';
  src: url('../fonts/NHaasGroteskTXPro-65Md.woff2') format('woff2'),
      url('../fonts/NHaasGroteskTXPro-65Md.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* @font-face {
  font-family: 'Neue Haas Grotesk TX Pro';
  src: url('../fonts/NeueHaasGroteskTextBold-3.woff2') format('woff2'),
      url('../fonts/NeueHaasGroteskTextBold-3.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
} */

body {
  margin: 0;
  font-family: 'Neue Haas Grotesk TX Pro', serif;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

h1 {
  font-family: 'Neue Haas Grotesk TX Pro', serif;
  font-size: var(--font-size-d1);
  line-height: var(--line-height-d1);
  letter-spacing: .125rem;
}

img {
  max-width: 100%;
  /* max-height: 100%; */
}

/* Pseudo-classes ------------------ */

a:link {
  text-decoration: none;
}

a:visited {

}

a:hover {
  text-decoration: underline;
}

a:active {

}

button:focus {
  outline: none;
  box-shadow: none;
}

/* Main Styles ----------------- */

.link {
  text-decoration: none; 
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.show-me-border {
  /* border: 1px solid red; */
}

/* ----------- Header Styles ------------------------------------------------------ */

.header-wrapper {
  position: sticky;
  top: 0px;
  margin: 0px;
  padding: var(--space-s) var(--space-s);
  /* border: 1px solid blue; */
}

.header-container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
}

.header-left-section {
  /* border: 1px solid palevioletred; */
}

.header-right-section {
  /* border: 1px solid violet; */
}

/* ----------- Intro Styles ------------------------------------------------------ */

.intro-wrapper{
  padding: var(--space-s) var(--space-s);
  min-height: calc(100vh - 240px);
  /* background: black url(../img/saturn.png) no-repeat center;
  background-size: cover; */
  /* border: 1px solid orangered; */
}

.intro-container {
  /* border: 1px solid rgb(81, 255, 0); */
  /* text-align: center; */
  /* padding: var(--space-s) var(--space-m); */
  margin-top: var(--space-xl);
  /* border: 1px solid orangered; */
}

.intro-text {
  font-size: var(--font-size-m);
  font-weight: normal;
}

/* ----------- Main Section Styles ------------------------------------------------------ */

.main-area-wrapper {
  padding: var(--space-s) var(--space-s);
  /* border: 1px solid yellow; */
}

.main-area-container {
  /* border: 1px solid yellow; */
}

.featured-section-title {
  margin-bottom: var(--space-l);
}

.featured-project-wrapper {
  margin-bottom: var(--space-m);
  margin-bottom: var(--space-xl);
  /* border: 2px solid red; */
}

.featured-project-images-group {
  border: 2px solid transparent;
  display: block;
}

/* Floated Columns ------------------ */

.featured-project-image-left {
  float: left;
  height: 350px;
  background: url('../img/featured-project1-left.jpg') no-repeat center;
  background-size: cover;
}

.featured-project-image-right {
  float: right;
  height: 350px;
  background: url('../img/featured-project1-right.jpg') no-repeat center;
  background-size: cover;
}

.featured-project-image-left,
.featured-project-image-right {
  float: none;
  width: 100%;
}

/* Float Clearfix ------------------ */

.featured-project-images-group:after {
  content: "";
  display: table;
  clear: both;
}



.project1-image {
  height: 240px;
  width: 100%;
  background: url('../img/project-1.jpg') no-repeat center;
  background-size: cover;
}

.project2-image {
  height: 240px;
  width: 100%;
  background: url('../img/project-2.jpg') no-repeat center;
  background-size: cover;
}

.project3-image {
  height: 240px;
  width: 100%;
  background: url('../img/project-3.jpg') no-repeat center;
  background-size: cover;
}

.project4-image {
  height: 240px;
  width: 100%;
  background: url('../img/project-4.jpg') no-repeat center;
  background-size: cover;
}

/* ----------- Footer Styles ------------------------------------------------------ */

.footer-wrapper {
  position: sticky;
  bottom: 0px;
  margin: 0px;
  padding: var(--space-s) var(--space-s);
  /* border: 1px solid green; */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
}

.footer-left-section {
  /* border: 1px solid blueviolet; */
}

.footer-right-section {
  /* border: 1px solid orchid; */
}












/* Media Queries -------------------- */

@media (min-width: 750px) {

  .header-wrapper,
  .intro-wrapper,
  .main-area-wrapper,
  .footer-wrapper {
    padding: var(--space-m) var(--space-m);
  }

  .featured-project-images-group {
    width: 100%;
    border-top: none;
  }

  .featured-project-image-left,
  .featured-project-image-right {
    float: right;
    width: 50%;
  }

}

@media (min-width: 1200px) {

  .header-wrapper,
  .intro-wrapper,
  .main-area-wrapper,
  .footer-wrapper {
    padding: var(--space-l) var(--space-l);
  }

}

@media (min-width: 1600px) {

  .header-wrapper,
  .intro-wrapper,
  .main-area-wrapper,
  .footer-wrapper {
    padding: var(--space-xl) var(--space-xl);
    width: 80%;
    margin: 0 auto;
  }

}


